<h1>Thot#category</h1>
<p>Find me in app/views/thot/category.html.erb</p>

<% @thots.each do |thot| %>
    <h3><%= thot.title %></h3>
    <p><%= thot.id %></p>
    <p><%= thot.details %></p>
<% end %>