<h1>Thot#category</h1>
<p>Find me in app/views/thot/category.html.erb</p>

<% @thots.each do |thot| %>
    <div class=<%= "thot-#{thot.id}" %>>
      <h3><%= "(#{thot.id}) #{thot.title}" %></h3>
      <p><%= thot.details %></p>

      <div>
        <a href="#"
           class="delete-button">
          Delete
        </a>
      </div>
    </div>
    <br>
    ------------
<% end %>