<h1>Thot#index</h1>

<%= react_component('ThotDashboard') %>

<br>

<div>
  <%= link_to "Create New Thot", new_thot_path, class: 'button' %>
  <%= link_to "Browse Categories", thots_categories_path, class: 'button' %>
</div>