<h1>Thot#index</h1>
<p>Find me in app/views/thot/index.html.erb</p>

<%= link_to "Create New Thot", new_thot_path, class: 'button' %>
<%= link_to "Browse Categories", thots_categories_path, class: 'button' %>