#thot-dashboard {

  hr {
    margin: 15px 0;
  }

  #thot-search-bar {
    width: 500px;
    float: left;
    margin-right: 10px;
  }

  .dashboard-window {
    width: 650px;
    height: 400px;
    margin-top: 15px;
  }

  #thot-window {
    background-color: #BBBBBB;

    .current-thot {
      padding: 5px;
    }

    .current-thot-title {
      font-size: 18px;
      font-weight: bold;
    }
  }

  #related-thots-window {
    width: 540px;
    height: 400px;
    position: absolute;
    right: 60px;
    top: 123px;
    background-color: rgba(178, 47, 47, 0.3);
    overflow: auto;
  }

  #results-window {
    overflow: auto;
    background-color: #bbae8d;
  }

  .result-title {
    font-weight: bold;
    margin-left: 5px;
  }

  .result-details {
    margin-left: 5px;
  }

  .result {
    margin: 5px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}