#thot-dashboard {
  #thot-search-bar {
    width: 500px;
    float: left;
    margin-right: 10px;
  }

  .dashboard-window {
    width: 650px;
    height: 400px;
    margin-top: 15px;
  }

  #thot-window {
    background-color: #BBBBBB;
  }

  #related-thots-window {
    width: 540px;
    height: 400px;
    position: absolute;
    right: 60px;
    top: 123px;
    background-color: rgba(178, 47, 47, 0.3);
  }

  #results-window {
    overflow: auto;
    background-color: #bbae8d;
  }

  .result-title {
    font-weight: bold;
  }

  .result {
    margin: 5px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}